<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Orders Portal</title>
    </head>
    <body>

        <h1 >Orders Portal</h1>
        
        <form name="form" th:object="${command}" method="post" action="">

        <p>
            Search by Order Id: <input type="text" id="orderid" placeholder="/all" th:field="*{orderid}"/>
            <input type="submit" name="action" id="searchOrderById" value="View Orders" class="btn">
        </p>


        <p>
            Update Order #<label th:text=${orderid}></label>, with Customer #<label th:text=${customerid}></label>

             <label for="orderdetails"><i class="fa fa-envelope"></i> Order Details</label>
             <input type="text" id="orderdetails" name="details" placeholder=${details} th:field="*{details}">

             <label for="orderamounts"><i class="fa fa-envelope"></i> Order Amount</label>
             <input type="text" id="orderamounts" name="orderamounts" placeholder=${amount} th:field="*{amount}">

             <label for="orderstatus"><i class="fa fa-envelope"></i> Order Status</label>
             <input type="text" id="orderstatus" name="orderstatus" placeholder=${status} th:field="*{status}">

             <input type="submit" name="action" id="updateorder" value="Update Order" class="btn">
        </p>


        <div th:if="${not#lists.isEmpty(messages)}">
          <div class="messages">
            <ul th:each="m : ${messages}">
                <li th:text="${m.msg}" />
            </ul>    
          </div>
        </div>

        </form>
        
      

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
    </body>
</html>